/* App container styles */
.App {
  text-align: center;
}

/* Header styles */
.App-header {
  background-color: #333; /* Background color for the header */
  color: white; /* Text color for the header */
  padding: 20px;
}

/* Logo styles */
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.logo img {
  max-width: 100px; /* Adjust the size of your logo */
}

/* Footer styles */
.App-footer {
  background-color: #333; /* Background color for the footer */
  color: white; /* Text color for the footer */
  padding: 10px;
}
